{{!-- <div class="max-w-md w-full rounded-lg bg-gray-200 mx-auto flex flex-col mt-10">

  <form id="restartPasswordForm" class="flex flex-col">
    <label>Correo electrónico</label>
    <input name="email" />
    <label>Nueva contraseña</label>
    <input name="password" />
    <input type="submit" />
  </form>
  {{! boton para cambiar la contraseña }}
  
</div>

<script src="/js/resetpassword.js"></script> --}}
<div class="flex flex-col items-center justify-center space-y-4">
  <h2>Pagina para restablecer contraseña</h2>
  <p>Ingresa tu nueva contraseña</p>
  <form method="post" action="/api/session/resetpassword?token={{token}}">
    <input type="email" placeholder="correo" name="email" />
    <br /><br />
    <input type="password" placeholder="nueva contraseña" name="newPassword" />
    <br /><br />
    <button type="submit">Restablecer contraseña</button>
  </form>
  <hr />
</div>