<body class="bg-[#C6CAD2]">
  <header class="bg-white">
    <nav class="flex justify-between items-center w-[92%] mx-auto h-11">
      <div>
        <a href="/">
          <img
            class="w-[44px] cursor-pointer"
            src="https://png.pngtree.com/png-vector/20210322/ourlarge/pngtree-the-online-shop-logo-uses-a-single-color-home-theme-png-image_3096093.jpg"
            alt="..."
          /></a>
      </div>
      <div
        class="nav-links duration-700 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5 z-50 md:z-10"
      >
        <ul
          class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8 font-sans font-bold"
        >
          <li>
            <div class="relative">
              <a
                href="/products"
                class="text-black text-lg relative"
                onmouseenter="showProductMenu(this)"
              >Productos</a>
              <ul
                id="productMenu"
                class="hidden absolute bg-gray-500 text-sm text-black font-bold mt-2 p-2 rounded-lg"
                onmouseleave="hideProductMenu()"
              >

                <li>
                  <a
                    href="/?category=pantalones"
                    class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                  >Pantalones</a>
                </li>
                <li>
                  <a
                    href="/?category=remeras"
                    class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                  >Remeras</a>
                </li>
                <li>
                  <a
                    href="/?category=camisas"
                    class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                  >Camisas</a>
                </li>
                <li>
                  <a
                    href="/?category=zapatos"
                    class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                  >Zapatos</a>
                </li>
                <li>
                  <a
                    href="/"
                    class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
                  >Ver todos</a>
                </li>

              </ul>
            </div>
          </li>
          <li>
            <a class="text-black text-lg" href="/chat">Chat</a>
          </li>
          <li>
            <a class="text-black text-lg" href="/login">Login</a>
          </li>
          <li>
            <a class="text-black text-lg" href="/profile">Profile</a>
          </li>
          <li>
            <a class="text-black text-lg" href="/cart">Cart</a>
          </li>
          <li>
            <a class="text-black text-lg" href="/admin">Admin</a>
          </li>
        </ul>
      </div>
      <div class="flex items-center gap-6">
        {{#if user}}
          <a href="/profile">
            <strong
              class="font-sans"
            >{{user.first_name}}{{user.name}}</strong></a>
        {{else}}
          <a href="/login">
            <button
              class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec] font-sans"
            >Sign in</button>
          </a>
        {{/if}}

        <ion-icon
          onclick="onToggleMenu(this)"
          name="menu"
          class="text-3xl cursor-pointer md:hidden"
        ></ion-icon>
      </div>
    </nav>
  </header>

  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

<script src="/js/navBar.js"></script>
{{!
<script src="https://kit.fontawesome.com/4061d47edd.js" crossorigin="anonymous"></script> }}